#innerbody {
   flex: 1;

   #header {
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      padding: 8px;
      padding-left: 10px;
      border-top: 2px solid #ffffff2a;
   }

   #list {
      border-top: 1px solid rgba(0, 0, 0, 0.171);
      border-bottom: 1px solid rgba(255, 255, 255, 0.185);

      #row {
         background: rgba(255, 255, 255, 0.068);
         padding: 8px 10px;
         color: #CECECE;
         transition: 0.2s;
         border: 0px solid black;
         border-top: 1px solid rgba(255, 255, 255, 0.185);
         border-bottom: 1px solid rgba(0, 0, 0, 0.171);
         text-transform: uppercase;
      }

      #row:hover, a:nth-child(even) #row:hover, #row:nth-child(even):hover {
         background: rgba(110, 255, 110, 0.144);
         color: white;
         padding-left: 15px;
         cursor: pointer;
      }

      a:nth-child(even) #row, #row:nth-child(even) {
         background: rgba(124, 213, 255, 0.11);
         border-bottom: 1px solid rgba(0, 0, 0, 0.233);
         cursor: pointer;
      }
   }

   // HORIZONTAL & VERTICAL SPLITTERS
   #horizontal, #vertical {
      display: flex;
      height: 100%;

      div:nth-child(1) { flex: 1; }
      div:nth-child(2) { flex: 1; }
   }

   #vertical {
      flex-direction: column;
   }

   #horizontal {
      padding: 1px;
   }

   #horizontal div:nth-child(1) #vertical {
      padding-right: 2px;
   }

   #horizontal div:nth-child(2) #vertical {
      padding-left: 2px;
   }

   #horizontal div #vertical div:nth-child(1) {
      padding-bottom: 2px;
   }
      
   #horizontal div #vertical div:nth-child(2) {
      padding-top: 2px;
   }
}